<div id="frmAuth0Login">
	<div id="a0-lock" class="a0-lock a0-theme-default" dir="auto">
		<div class="a0-signin">
	  		<div id="a0-onestep" class="a0-panel a0-onestep a0-active">
				<div class="a0-body-content">
		            <div class="a0-iconlist">
		            	<div style="font-size: 140%">Please click one of the buttons below to log in.</div>
		                <br>
		                {{#each connections}}
		                <a class="a0-zocial a0-{{name}} href="#" style="{{style}}">{{#if icon}}<img src="{{icon}}"/>{{/if}} <span style="text-transform: none">{{displayText}}</span></a><br/>
		                {{/each}}
		            </div>
				</div>    
			</div>
	  	</div>
	</div> 
</div>
