/* Add your style overrides here */
#header {
	width:100%;
	background-color: black !important;
}
.jstree-container-ul>li>a>i.jstree-checkbox
{
    display:none
}
.concept-tree-div{
	overflow:scroll;
	max-height:100%;
}
.filter-search-row {
    background-color: rgb(223, 238, 255);
    padding: 10px;
    word-wrap: break-word;
}
.wrap-text {
    word-wrap: break-word;
}
