{{#if bannerText}}
    <div id="banner_{{bannerCount}}" style="{{bannerStyles}}" class="{{bannerClass}}">
        {{{bannerText}}}
        {{#if isDismissible}}
        <span id="closeBannerWrapper" style="position: absolute; top: 10px; right: 10px; cursor: pointer;">
            <span id="closeBannerBtn">&times;</span>
        </span>
        {{/if}}
    </div>
{{/if}}
