<div class="constrain-row row">
    <div class="category-restriction-type-row">
	<div class="category-filter-restriction-container">
		<select type="radio" class="form-control category-filter-restriction">
			<option value="ANY">Allow Any Value (exclude missing data)</option>
			<option value="RESTRICT" {{#if constrainValueOne.length}}selected{{/if}} {{#if metadata.values}}selected{{/if}}>Restrict By Value</option>

		</select>
	</div>
	 <div class="constrain-search-button">
            <span class="btn constrain-apply-btn">Run</span>
         </div>

    </div>

    <div class="category-filter-lists {{#unless constrainValueOne.length}}hidden{{/unless}}">
	    <div class="col-md-3 constrain-filter-btn resizable-select-div">
		<div class="constrain-filter-label">Available Values</div>
		<input  class="form-control category-filter" placeholder="Filter..." value="" ></input>
		<select class="form-control available-categories multi-select-box"    multiple="" >
			{{#if metadata.categoryValues}}
				{{#each metadata.categoryValues}}	    
			<option class="selectable-category-item" >{{this}}</option>
				{{/each}}
			{{else}}
				{{#each metadata.values}}	    
			<option class="selectable-category-item" >{{this}}</option>
				{{/each}}
			{{/if}}
		
		</select>
		<div class="select-all btn btn-default">
			    <a>Select All <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
		</div>
	    </div>
	    <div class="col-md-3 constrain-filter-btn resizable-select-div">
		<div class="constrain-filter-label">Selected Values</div>
		<select class="form-control selected-categories multi-select-box" multiple="">
		
		</select>
		<div class="select-none btn btn-default">
			    <a><i class="fa fa-angle-double-left" aria-hidden="true"></i> Select None</a>
		</div>
	    </div>
    </div>
</div>
