<div class="filter-row container">
	<div class="filter-search-row row">
        <div class="filter-edit">
            <div class="filter-qualifier col-md-3">
            </div>
            <div class="filter-search-box col-md-7">
		<i class="btn glyphicon glyphicon-info-sign search-tooltip-help-icon" data-toggle="modal" data-target="#search-help-modal"></i>
                <div class="spinner-div"></div>
                <input class="search-box form-control" placeholder="Search..." value="{{searchValue}}"></input>
            </div>
            <!--div class="search-button col-md-2">
                <span class="glyphicon glyphicon-search btn search-btn"></span>
            </div-->
        </div>
        <div class="filter-saved">
		{{#unless anyRecordCategories}}
		<div class="edit btn btn-default col-md-1">
		    edit
		</div>
		{{/unless}}
		<div class="change-constraint btn btn-default col-md-2">
		    change
		</div>
		<div class="delete btn btn-default col-md-2">
		    delete
		</div>

		<div class="filter-qualifier">
		    <div class="filter-result-entry filter-result-saved">
			<span class="autocomplete-category">{{#if category}}{{category}}{{else}}Variant{{/if}}</span>
			<br></br>
			<div>
		<span class="search-value">{{#if anyRecordCategories}}Any record with an observation in the category {{/if}}<b>{{searchValue}}</b></span>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="category-valueof-div"></div>
    </div>
    <div class="constrain-filter"></div>
	<div class="search-tabs"></div>
	<br></br>
	<div class="filter-boolean-operator row hidden">
	<span>AND</span>
	</div>
</div>
