<div>
<div class="filter-result-entry">
  <span class="autocomplete-category">{{category}}</span>
  <span class="pui-elipses btn btn-info btn-xs" data-pui="{{data}}">...</span>
  <span class="autocomplete-term-parent">{{parent}}</span>
  <br></br>
  <div>
    <span class="autocomplete-term">{{value}}</span>
  </div>
</div>
<div class="node-tree-view" style="display: none"></div>
</div>
