<div class="row subcat-row">
    <ul class="nav nav-pills sub-nav-pills">
		 <li data-toggle="showsub"><a>All Results</a></li>
        {{#each this}}
                <li data-toggle="showsub"><a href="#{{this}}" data-toggle="sub" aria-expanded="true">{{this}}</a></li>
        {{/each}}
    </ul>

</div>
