<div class="row subcat-row">
    <ul class="nav nav-pills sub-nav-pills" data-intro="#search-results-sub-categories" data-sequence="5">
		 <li data-toggle="showsub"><a>All Results</a></li>
    </ul>
</div>
