<div id="concept-tree"></div>
<a class="center btn btn-default" id="prepare-btn">Prepare Download</a>
<a class="center btn btn-default hidden" download="data.csv" id="download-btn">Download</a>
<div id="download-spinner"></div>
