<div id="variant-spinner"></div>
<style scoped>th{width:auto !important; }</style> 
<table id="vcfData" class="variantTable" class="display stripe">
    <thead>
    <tr>
        {{#each headers}}
            <th>{{this}}</th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each variants}}
        <tr>
            {{#each ../headers}}
                <td>{{lookup .. this}}</td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>