<div id="user-profile">
    <section class="panel panel-default" id="user-token-container">
        <div id="user-token-box" class="panel-body">
            <h3>Personalized Access Token</h3>
        </div>
    </section>
    <section class="panel panel-default" id="dataset-management-container">
        <div id="dataset-management-box" class="panel-body">
            <h3>Dataset ID Management</h3>
        </div>
    </section>
</div>