<div id="query-builder" class="col-md-8">
    <section id="phenotypic-filters-container">
        <h3>Phenotypic Filters</h3>
        <ul class="container" id="filter-list"></ul>
    </section>
	<hr class="no-top-margin">
    <section id="genomic-filters-container">
        <div id="selected-genomic-filter"></div>
    </section>
</div>
<div id="query-results" class="col-md-4"></div>