<div id="query-builder" class="col-md-9">
    <section id="phenotypic-filters-container">
        <ul class="container" id="filter-list"></ul>
    </section>
	<hr class="no-top-margin">
    <section id="genomic-filters-container">
        <div id="selected-genomic-filter"></div>
    </section>
    <div id="tour-container">
	    <button id="guide-me-button" class="btn btn-tertiary" tabindex="0" aria-label="You are on a button called 'Take a Tour' that opens a modal.">Take a Tour</button>
    </div>
</div>
<div id="query-results" class="col-md-3"></div>