
	<div id="sessionExtendView" class="col-md-12">
		<div id="sessionExtendTitle">
            <h1>Your session is about to timeout, would you like to keep the session</h1>
        </div>
        <div id="sessionExtendButtons" class="col-md-12">
            <button id="session-extend-ok-button" type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-edit"/> Yes
            </button>
            <button id="session-extend-no-button" type="button" class="btn btn-danger" style="float: right">
                <span class="glyphicon glyphicon-remove"/> No
            </button>
        </div>
	</div>