<div class="panel panel-default tree-select-container ">
    <div class="panel-heading space-out panel-extra-large">
        <h4 class="panel-title">{{title}}</h4>
        {{#if description}}
        <i class="fa fa-question-circle fa-lg tabable" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="{{description}}"></i>
        {{else}}
            {{#if helpCallback}}
            <i class="fa fa-question-circle fa-lg tabable" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="{{description}}"></i>
            {{/if}}
        {{/if}}
    </div>
    <div class="tree-container panel-body tabable">
        <div id="tree"></div>
    </div>
</div>