# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Docker
tomcat/build

# These assets are copied in as part of the build to always be up to date
src/
