<div id="dataset-management">
    <div id="errors" class="alert alert-danger hidden center" role="alert"></div>
    <div id="download-spinner"></div>
    <div id="active">
        <table id="active-table" class="table table-striped row-border" tabIndex="0" width="100%">
            <tr><td>There are no saved datasets.</td></tr>
        </table>
    </div>
    <div id="toggle-archived" class="mt">
        <button id='toggle-archived-btn' class='btn btn-default alternate'>Include archived Dataset IDs</button>
    </div>
    <div id="archived" class="hidden mt">
        <h3>Archived</h3>
        <table id="archived-table" class="table table-striped row-border" tabIndex="0" width="100%">
            <tr><td>There are no archived datasets.</td></tr>
        </table>
    </div>
</div>