<div id="cookie-consent-banner" class="panel panel-default">
    <div class="panel-body cookie-banner-bottom">
      <div>
        <p>We use cookies to provide you with the best possible experience and to help us make the site more useful to visitors.</p>
        <p>To learn more, please visit our <a href="{{privacyPolicyLink}}" target="_blank">Privacy Policy</a>.</p>
      </div>
      <div class="cookie-consent-options">
        <button id="cookie-consent-accept-all" class="cookie-consent-button btn btn-primary">Accept</button>
        <button id="cookie-consent-reject-all" class="cookie-consent-button btn btn-outline secondary">Reject</button>
      </div>
    </div>
</div>
