<div class="row header-row">
	<a href="/picsureui/"><img class="logo-img col-md-4" src="{{logoPath}}"></a>
	<a class="col-md-2 btn btn-default header-btn active">Query Builder</a>
    <a class="col-md-2 btn btn-default header-btn" id="admin-btn" href="/psamaui/userManagement"
       style="display:none">Admin
    </a>
	<span class="col-md-1 header-btn">
		<a href="{{helpLink}}" class="btn btn-default help-btn">Help</a>
	</span>
	<a id="logout-btn" class="col-md-1 btn btn-default header-btn">Log Out</a>
</div>