<div class='suggestion-container' style="background-color: white">
  <span class='autocomplete-category'>{{category}}</span>
  <span class='pui-elipses' data-pui='{{data}}'>...</span>
  <span class='autocomplete-term-parent'>{{parent}}</span>
  <br>
  <span class='autocomplete-term'>{{value}}</span><br>
</div>